#home-container .ui-panel .ui-panel-titlebar {
	padding: 8px !important;
	border: none !important;
}

#home-container .ui-panel-title {
	font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
	font-size: 15px;
	color: #777;
	margin: 0;
	font-weight: 400;
	text-transform: uppercase;
}

#home-container .subtitle {
	font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
	font-size: 14px;
	color: #aaa;
	margin: 0;
	font-weight: 400;
	display: block;
	padding-left: 8px !important;
	padding-right: 8px !important;
	padding-bottom: 8px !important;
}

.stacked_panel {
	padding: 8px !important;
}

#home-container .panel-footer {
	background: none !important;
	padding: 0px !important;
	border: none !important;
}

#home-container  .colored {
	height: 50px;
	color: white;
	font-size: 16px;
	padding-top: 10px !important;
	padding-left: 5px !important;
	padding-right: 5px !important;
}

#home-container .color-verdino {
	background-color: #41ABA2 !important;
}

#home-container  .color_green {
	background-color: #7aacac !important;
}

#home-container  .color_celestino {
	background-color: rgb(24, 120, 175) !important;
}

#home-container  .color_red {
	background-color: #d5654d !important;
}

#home-container  .color_azzurro {
	background-color: #1e3f88 !important;
}

#home-container  .color_verde_petrolio {
	background-color: #6093ac !important;
}

#home-container  .color_orange {
	background-color: #eb9c52 !important;
}

#home-container  .color_verdino_pesata {
	background-color: #2ABA67 !important;
}

#home-container .color_rosso_oscuro {
	background-color: #b9ceac !important;
}

#home-container .color_verde {
	background-color: #f88f54 !important;
}

#home-container .panel-heading .row {
	margin-bottom: 0px !important;
	line-height: 0px !important;
}

#home-container .card_btn {
	background: #eeeeee;
	display: block;
	height: 36px;
	width: 36px;
	webkit-user-select: none;
	-webkit-transition: background .3s;
	transition: background .3s;
	border: 0;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
	outline: none;
	overflow: hidden;
	position: relative;
	text-align: center;
	-webkit-tap-highlight-color: transparent;
	margin-top: 10px;
	margin-bottom: 10px;
}

#home-container .card_btn:hover {
	background: #f5f5f5;
	-webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.26);
	display: block;
	height: 36px;
	width: 36px;
	-webkit-user-select: none;
	-webkit-transition: background .3s;
	transition: background .3s;
	border: 0;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	cursor: pointer;
	display: inline-block;
	outline: none;
	overflow: hidden;
	position: relative;
	text-align: center;
	-webkit-tap-highlight-color: transparent;
	margin-top: 10px;
	margin-bottom: 10px;
}

#home-container .card_btn .icon {
	height: 22px;
	width: 22px;
	margin: 7px;
	fill: #757575;
}

#home-container .ui-panel-content {
	padding: 0px !important;
}

.card-big-img {
	width: 100% !important;
	height: 180px;
}

.paddingLR40 {
	padding-left: 40px !important;
	padding-right: 40px !important;
}

.padding0 {
	padding: 0px !important;
}

@media only screen and (min-width: 640px) and ( max-width:1020px) {
	.textForCard {
		font-size: small !important;
	}
}

a.ui-state-default.ui-state-highlight {
	background: none !important;
}

.ui-datepicker-days-cell-over.ui-datepicker-today {
	background-color: #0F8B79 !important;
	color: white !important;
}